*,
*:focus,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  height: 100%;
}

.container {
  background-image: url(../images/bg-hero-desktop.svg);
  background-color: #ebfbff;
}

.width {
  width: 90%;
  padding: 3%;
  margin: 0 auto;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex img {
  width: 100%;
}

.tryButton {
  border: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: white;
  font-weight: bold;
  padding: 10px 55px;
  -webkit-box-shadow: 0px 9px 50px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 9px 50px rgba(0, 0, 0, 0.4);
  border-radius: 25px;
  cursor: pointer;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  grid-column-gap: 12px;
}

.grid h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 2.2em;
}

.grid p {
  font-size: 0.9em;
  width: 79%;
}

.grid img {
  width: 100%;
}

.button {
  border: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #ff52bf;
  padding: 15px 55px;
  color: white;
  font-weight: bold;
  border-radius: 25px;
  -webkit-box-shadow: 0px 9px 20px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 9px 20px rgba(0, 0, 0, 0.3);
}

.sub-container {
  width: 80%;
  margin: 0 auto;
}

.box {
  -webkit-box-shadow: 0px 9px 20px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 9px 20px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding-top: 5%;
  padding-left: 5%;
  padding-bottom: 3%;
}

.box img {
  width: 100%;
}

.flex2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#boxx {
  padding-left: 0;
}

#flex-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

#flex-reverse div {
  margin-left: 10%;
}

.flex2 h2 {
  font-family: 'Poppins', sans-serif;
  color: #00252e;
}

.flex2 p {
  width: 80%;
  color: #808d99;
  font-size: 0.8em;
  margin-top: 5px;
}

#ready {
  padding: 0;
  padding: 4%;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 4;
  background-color: white;
  -webkit-box-shadow: 0px 9px 10px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 9px 10px 2px rgba(0, 0, 0, 0.3);
}

.footer {
  background-color: #00252e;
  padding-top: 10%;
  margin-top: -6%;
  padding-bottom: 3%;
}

.footer #last {
  color: white;
  text-align: right;
  font-size: 0.8em;
}

.grid3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 25% 25% 15%;
      grid-template-columns: 25% 25% 25% 15%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  grid-gap: 2%;
  color: white;
}

.grid3 a {
  text-decoration: none;
  color: white;
}

.internalGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  grid-gap: 5%;
}

.social a {
  padding: 5px;
  border-radius: 50%;
  border: 1px solid lightgray;
  margin-right: 20px;
  margin-bottom: 5px;
  font-size: 14px;
}

.social a i {
  width: 18px;
  height: 18px;
  text-align: center;
}

.social a:hover {
  color: #00252e;
  background-color: white;
  border: none;
}

@media only screen and (max-width: 700px) {
  .container {
    background-image: url(../images/bg-hero-mobile.svg);
    background-color: #ebfbff;
  }
  .width {
    width: 95%;
  }
  .flex img {
    width: 50%;
  }
  .tryButton {
    padding: 0;
    padding: 5px 15px;
  }
  .grid {
    -ms-grid-columns: 90%;
        grid-template-columns: 90%;
    grid-column-gap: 0;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .grid h2 {
    text-align: center;
  }
  .grid p {
    text-align: center;
    width: 100%;
  }
  .grid img {
    margin-top: 20px;
  }
  .sub-container {
    width: 90%;
  }
  .box {
    padding-left: 0;
    padding: 2%;
  }
  .flex2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .flex2 .div {
    margin-top: -22%;
    margin-bottom: 10%;
  }
  #flex-reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  #flex-reverse div {
    margin-left: 0;
  }
  .flex2 h2 {
    text-align: center;
  }
  .flex2 p {
    width: 100%;
    text-align: center;
  }
  #ready {
    width: 90%;
  }
  #last {
    text-align: center;
  }
  .grid3 {
    -ms-grid-columns: 90%;
        grid-template-columns: 90%;
  }
  .margin {
    margin-top: 25%;
  }
}
/*# sourceMappingURL=style.css.map */